* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Poppins, sans-serif;
    background: #F9F4F1;
    top: 0;
}

.dogs-glowna {
    padding: 0 20px 20px 20px;
    color: #000000;
    text-decoration: none;
}

.nav {
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
    background-color: #f9f4f1;

    color: #000;
    display: flex;
    justify-content: space-around;
}

.nav ul {
    list-style-type: none;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.nav ul li {
    display: inline-block;
}

.nav ul li p {
    padding: 0;
    font-weight: 900;
    font-size: 24px;
    color: black;
    margin-top: 8px;
    margin-right: 50px;
}

.nav ul li img {
    width: 100px;
}

.nav ul li p a {
    text-decoration: underline;
    text-decoration-color: #0071A8;
    color: #000000;
    font-weight: normal;
}

.nav ul li:nth-child(2) {
    margin-right: 100px;
}

.nav ul li:nth-child(3), .nav ul li:nth-child(4) {
    margin-top: 20px;
}

.nav ul div {
    margin-top: 20px;
    margin-right: 90px;
}

.nav ul li div {
    margin-top: 10px;
}

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-glowna {
    width: 100%;
    padding: 15px 0 !important;
    top: 0;
    background: #f9f4f1;
}

.page-name {
    width: 100%;
    text-align: center;
    height: 156px;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
    background: #E8B6A8;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.wrap-glowna {
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 15px 15px 15px;
    gap: 60px;
    max-width: 1500px;

}

.limiter-nav {
    width: 100%;
    position: fixed;
    margin: 0 auto;
}

.container-nav {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: transparent;
    z-index: 3;
}

.zdj {
    width: 100%;
    height: 50%;
}

.zdj img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 100%;
}

.wrap-nav {
    width: 100%;
    background: #f9f4f1;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 0;
    box-shadow: 5px 5px 30px -1px rgba(0, 0, 0, 0.64);
}

.container-nav-btn {
    width: 150px;
    margin-top: 9px;
}

.nav-btn {
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 25px;
    background: #e8b6a8;
    padding: 0;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s;

}

.nav-btn a {
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
}

.nav-btn:hover {
    background: #f9f4f1;
    border: 2px solid #e8b6a8;

}

#myBtn {
    display: flex;
    position: fixed;
    bottom: 30px;
    right: 40px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #f0d6c7;
    height: 60px;
    width: 60px;
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    color: white; /* Text color */
    cursor: pointer;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 30px;
    font-size: 18px;
}

#myBtn img {
    position: absolute;
    width: 40px;
    top: 12px;
    right: 10px;
}

#myBtn:hover {
    /*background-color: #333333;*/
    background: #f9f4f1;
    border-color: #e8b6a8;

}


.profil_psa {
    background-color: #ffffff;
    width: 309px;
    height: 500px;
    transition: transform 0.3s;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.profil_psa:hover {
    transform: scale(1.2);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);

}

.limiter-nav {
    z-index: 100;
}

.dog-name {
    display: flex;
    text-align: center;
    color: #000000;
    font-size: 24px;
    justify-content: center;
    font-weight: bold;
}

.dog-description{
    font-size: 14px;
}

.dog-name a {
    text-decoration: underline;
    text-decoration-color: #0071A8;
}

.info {
    padding-top: 10px;
    display: flex;
    justify-content: right;
    text-align: right;
    color: #0071A8;
    font-size: 15px;
}

.szukaj {
    width: 100%;
    display: flex;
    padding-top: 40px;
}

.szukaj-psa {
    padding: 10px;
    background: #0071A8;
    color: white;
    border-radius: 8px;
    border-color: #0071A8;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-left: 10%;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
