{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Zmiana hasła</title>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'images/lapka.png' %}">
</head>
<body>

{% block content %}
    <div class="limiter">
        <div class="container-glowna">
            <div class="wrap-glowna">
                <h1>Zmiana hasła</h1>
                <br/><br/>
                <div class="form-group">
                    <form method="POST">
                        {% csrf_token %}
                        <p><label for="id_old_password">Stare hasło:</label> <input type="password" name="old_password"
                                                                                    class="form-control" required
                                                                                    id="id_old_password">
                            {% if form.errors.old_password %}
                                <span class="error">{{ form.errors.old_password }}</span>
                            {% endif %}
                        </p>
                        <p><label for="id_new_password1">Nowe hasło:</label> <input type="password" name="new_password1"
                                                                                    class="form-control" maxlength="100"
                                                                                    required id="id_new_password1">
                            {% if form.errors.new_password1 %}
                                <span class="error">{{ form.errors.new_password1 }}</span>
                            {% endif %}
                        </p>
                        <p><label for="id_new_password2">Powtórz hasło:</label> <input type="password"
                                                                                       name="new_password2"
                                                                                       class="form-control"
                                                                                       maxlength="100" required
                                                                                       id="id_new_password2">
                            {% if form.errors.new_password2 %}
                                <span class="error">{{ form.errors.new_password2 }}</span>
                            {% endif %}
                        </p>
                        <button class="btn btn-secondary" type="submit">Zmień hasło</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
