{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Zmiana hasła</title>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'images/lapka.png' %}">
    <link rel="stylesheet" type="text/css" href="/static/css/change-password.css">
</head>
<body>

{% block content %}
    <div class="limiter">
        <img class="lapka" src="/static/images/lapka.png" alt="IMG">
            <div class="container-glowna">
                <div class="wrap-glowna">
                    <h1>Zmiana hasła</h1>
                    <br/><br/>
                    <div class="form-group">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="input">
                                <input type="password" name="old_password"
                                       class="form-control" required
                                       id="id_old_password" placeholder="STARE HASŁO">
                                {% if form.errors.old_password %}
                                    <span class="error">{{ form.errors.old_password }}</span>
                                {% endif %}
                            </div>
                            <div class="input">
                                <input type="password" name="new_password1"
                                       class="form-control" maxlength="100"
                                       required id="id_new_password1" placeholder="NOWE HASŁO">
                                {% if form.errors.new_password1 %}
                                    <span class="error">{{ form.errors.new_password1 }}</span>
                                {% endif %}
                            </div>
                            <div class="input">
                                <input type="password"
                                       name="new_password2"
                                       class="form-control"
                                       maxlength="100" required
                                       id="id_new_password2" placeholder="POWTÓRZ HASŁO">
                                {% if form.errors.new_password2 %}
                                    <span class="error">{{ form.errors.new_password2 }}</span>
                                {% endif %}
                            </div>
                            <button class="btn-secondary" type="submit">ZMIEŃ HASŁO</button>
                        </form>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}
</body>
</html>
