{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/stopka.css' %}">

<div class="footer">
  <div class="left">
    <div>
      <img src="{% static 'images/lapka.png' %}" alt="IMG" class="logo">
    </div>
    <div class="text">
      <p>Pokochaj</p>
      <p>zwierzaka</p>
    </div>
  </div>
  <div class="center">
    <span>
      <p>Fundacja pokochaj zwierzaka</p>
    </span>
    <span>
      <p>ul. Pieskowa Skała 102, 02-699 Warszawa</p>
    </span>
  </div>
  <div class="right">
    <p>Tel.: xxx-xxx-xxx</p>
    <p>Email: pokzwierzaka@gmail.com</p>
  </div>
</div>
